.body {
    margin: 0;
    padding: 0;
     
}

.pilka {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: skyblue;
    animation: bounce 3s linear infinite,
        bounce_left 10s linear infinite;
    
}
   

.trawa {
    display: block;
    position: fixed;
    background-color: green;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 1500px;
}

@keyframes bounce {
    0% {
        bottom: 100%;
    }
    45% {
        bottom: 40px;
        width: 100px;
        height: 100px;
    }
    50% {
        bottom: 40px;
        width: 110px;
        height: 50px;
    }
    55% {
        bottom: 40px;
        width: 100px;
        height: 100px;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes bounce_left {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
